@page "/"
@using Northwind_Net7_Shared
@using System.Security.Cryptography.X509Certificates
@using System.Text.Json.Serialization
@inject HttpClient client

@if (categories != null)
{
    <div class="d-flex">
        <div class="w-25">
            @if(categories != null)
            {
                foreach (var c in categories)
                {
                    <div class="p-3">
                        <div><img src="@c.Base64String"></div>
                        <div><NavLink class="nav-link" @onclick="@(() => SetCategory(c.CategoryId))">@c.CategoryName</NavLink></div>
                    </div>
                }
            }
        </div>
        <div class="w-75"><_Products CategoryId="CategoryId"/></div>
    </div>
}

@code
{
    public int? CategoryId { get; set; } = null!;
    public List<CategoryExt>? categories { get; set; }
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        using var httpResponse = await client.GetAsync("/categories");

        if (!httpResponse.IsSuccessStatusCode)
        {
            errorMessage = httpResponse.ReasonPhrase;
            Console.WriteLine($"There was an error! {errorMessage}");
            return;
        }

        categories = await httpResponse.Content.ReadFromJsonAsync<List<CategoryExt>>();

    }

    private void SetCategory(int id)
    {
        CategoryId = id;
    }
}



